
/*############################################################################*/
/*#   Layout Styles                                                          #*/
/*############################################################################*/

#head #logo{
    left:  auto;
    right: 85px;
}

#head #slogan{
    left:  auto;
    right: 0px;
}

#head #follow{
    right: auto;
    left:  0px;
}

#head #search{
    right: auto;
    left:  0px;
}

#head #top-menu{
    left:  auto;
    right: 0px;
}

#head #head-menu{
    left:  auto;
    right: 0px;
}

#head #lang-select{
}

#head #languages{
    right: auto;
    left:  0px;
}

/*############################################################################*/

#top-menu {
    direction: rtl;
}

#top-menu ul.main{
    left:  auto;
    right: 0px;
    
        border-radius:     0px 0px 0px 6px;
    -moz-border-radius:    0px 0px 0px 6px;
    -webkit-border-radius: 0px 0px 0px 6px;
}

#top-menu ul.main li{
    float: right;
}
#top-menu ul.main li a{
    padding: 9px 13px 9px 13px;
    text-align: right;
}

#top-menu .submenu{
    left: auto;
    right: 0px;
}

#top-menu .submenu .col{
    margin: 0px 15px 0px 0px;
    border-right: none;
    border-left: 1px solid #7c4c32;
}
#top-menu .submenu .col:last-child {
    border-left: none;
    border-right: none;
}

#top-menu .submenu a.sub {
    border-right: 0px;
    padding: 5px 15px 5px 5px;
    text-align: right;
}
#top-menu .submenu a.subsub {
    padding: 3px 25px 3px 3px;
    text-align: right;
    border-right: 10px;
}

/*############################################################################*/

#search #search-input {
    float: right;
    text-align: right;
    font-family: "GESSTwoLight";
}
#search #search-button {
    float: right;
    /*background-image:  url('../images/search-icon-rtl.png');*/
    border-left:  none;
    border-right: 1px solid #6d6e70;
}

/*############################################################################*/
/*############################################################################*/

#slide #navs{
    right: auto;
    left:  10px;

    text-align: left;
}

/*############################################################################*/
/*############################################################################*/

#body #nav-side {
    direction: rtl;
    float: right;
}

#body #main-side{
    direction: rtl;
    float: left;
}

/*############################################################################*/
/*############################################################################*/

#nav-side ul.side_menu{
}

#nav-side ul.side_menu li a{
    
    padding: 0px 15px 0px 0px;
    background-position: top 3px right 0px;
}

/*############################################################################*/
/*############################################################################*/

#main-side #list{
}

/*############################################################################*/
/*############################################################################*/

#foot #logo{
    float: right;
}
#foot #foot-menu{
    float: right;
}

/*############################################################################*/

#foot-menu .col{
    margin:  0px 0px 40px 10px;
    padding: 3px 0px 3px 10px;

    border-right: none;
    border-left:  1px dotted #615a7f;
}
#foot-menu .col:last-child {
    border-left:  none;
}

#foot-menu .col .title{
    padding: 3px 15px 3px 5px;
    text-align: right;
}
#foot-menu .col .item{
    padding: 3px 25px 3px 5px;
    text-align: right;
}

/*############################################################################*/
/*############################################################################*/

#product-options .title {
    padding: 0px 5px 0px 0px;
}
#product-options .option{
    padding: 5px 25px 5px 5px;
    background-position: top 8px right 5px;
}

/*############################################################################*/

#category-products .title {
    padding: 0px 5px 0px 0px;
}
#category-products .item{
    padding: 5px 15px 5px 5px;
}

/*############################################################################*/

/*############################################################################*/
/*#   Common Styles                                                          #*/
/*############################################################################*/

#path  .cell{
    border-right: none;
    border-left: 1px solid #615a7f;
}
#path  .cell:first-child{
    padding-left:  10px;
    padding-right: 0px;
}
#path  .cell:last-child{
    border-left: none;
}

/*############################################################################*/

#search-results-label{
    text-align: right;
}
.search-item{
    text-align: right;
}
#pagination{
    text-align: right;
}
#results{
    text-align: right;
}

/*############################################################################*/
/*#   Page Info Styles                                                       #*/
/*############################################################################*/

#page-info .content{
    text-align: right;
    direction: rtl;
}

/*############################################################################*/
/*#   Product Info Styles                                                       #*/
/*############################################################################*/

#product-info .content{
    text-align: right;
    direction: rtl;
}

/*############################################################################*/

#page-about .related-pages {
    float: right;
}
#page-about .page-info {
    float: right;
}

.related-pages li a{
    text-align: right;
}

#page-about .page-info .title{
    text-align: right;
}
#page-about .page-info .content{
    text-align: justify;
    direction: rtl;
}

/*############################################################################*/
/*#   Listing Styles                                                       #*/
/*############################################################################*/

.list-item-page .more{
    text-align: left;
}

/*############################################################################*/

.list-item-product{
    margin: 0px 15px 15px 0px;
}

.list-item-product .desc{
    text-align: right;
}

.list-item-product .more{
    float: left;
    
            border-radius: 0px 5px 5px 0px;
       -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
}

/*############################################################################*/

/*############################################################################*/
/*#   Contact Form Styles                                                    #*/
/*############################################################################*/

#ContactForm  .form_row {
    text-align: right;
}
#ContactForm  .heading  {
    text-align: right;
}
#ContactForm  .data     {
    text-align: right;
}
#ContactForm  .note     {
    text-align: right;
}

/*############################################################################*/

.go-to-top {    
    right: auto;
    left:  15px;
}

/*############################################################################*/
